extends ../template/template.pug

block append config 
    -title_page="Contacto";
    -pagina_actual="contacto";
    
block append bannerSecundario
    .container.container-flex
        h1.nosotros-titulo CONTACTO

block contenido
    section