extends ../template/template.pug

block append config
    -title_page="nosotros";
    -pagina_actual="nosotros";
    
block append bannerSecundario
    .container.container-flex
        h1.nosotros-titulo NOSOTROS
block contenido
    section.nosotros
        .container.container-flex
            .nosotros-contenido
                h1.nosotros-subtitulo El Grupo Axis               
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos facere perferendis quibusdam dolores, obcaecati provident vero rerum quia beatae? Sit magnam quae, error iste doloribus corporis! In reiciendis laudantium maxime.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos facere perferendis quibusdam dolores, obcaecati provident vero rerum quia beatae? Sit magnam quae, error iste doloribus corporis! In reiciendis laudantium maxime. 
    section.equipo
        .container
            h1.equipo-subtitulo Nuestro Equipo
            .container-flex
                .equipo-persona
                    img(src="img/person1.jpeg" alt="persona1")
                    .datos-persona
                        h3 Gonzales Marquez, COO
                        a(href="#") gonzales@email.com |
                        spam Phone: 123-456-789
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos facere perferendis quibusdam dolores, obcaecati provident vero rerum quia beatae? Sit magnam quae, error iste doloribus corporis! In reiciendis laudantium maxime.                 Dignissimos facere perferendis quibusdam dolores, obcaecati provident vero rerum quia beatae? Sit magnam quae, error iste doloribus corporis! In reiciendis laudantium maxime.
                
                .equipo-persona
                    img(src="img/person2.jpeg" alt="persona2")
                    .datos-persona
                        h3 Gonzales Marquez, COO
                        a(href="#") gonzales@email.com |
                        spam Phone: 123-456-789
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos facere perferendis quibusdam dolores, obcaecati provident vero rerum quia beatae? Sit magnam quae, error iste doloribus corporis! In reiciendis laudantium maxime.                 Dignissimos facere perferendis quibusdam dolores, obcaecati provident vero rerum quia beatae? Sit magnam quae, error iste doloribus corporis! In reiciendis laudantium maxime.
                
                .equipo-persona
                    img(src="img/person3.jpeg" alt="persona3")
                    .datos-persona
                        h3 Gonzales Marquez, COO
                        a(href="#") gonzales@email.com |
                        spam Phone: 123-456-789
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos facere perferendis quibusdam dolores, obcaecati provident vero rerum quia beatae? Sit magnam quae, error iste doloribus corporis! In reiciendis laudantium maxime.                 Dignissimos facere perferendis quibusdam dolores, obcaecati provident vero rerum quia beatae? Sit magnam quae, error iste doloribus corporis! In reiciendis laudantium maxime.
                
                .equipo-persona
                    img(src="img/person4.jpeg" alt="persona4")
                    .datos-persona
                        h3 Gonzales Marquez, COO
                        a(href="#") gonzales@email.com |
                        spam Phone: 123-456-789
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos facere perferendis quibusdam dolores, obcaecati provident vero rerum quia beatae? Sit magnam quae, error iste doloribus corporis! In reiciendis laudantium maxime.                 Dignissimos facere perferendis quibusdam dolores, obcaecati provident vero rerum quia beatae? Sit magnam quae, error iste doloribus corporis! In reiciendis laudantium maxime.
                    
                