extends ../template/template.pug

block append config 
    -title_page="Novedades";
    -pagina_actual="novedades";
    
block append bannerSecundario
    .container.container-flex
        h1.nosotros-titulo NOVEDADES

block contenido
    section
        .container
            .novedad.container-flex#novedad1                
                .novedad-imagen.comlumn-50
                    img(src="img/prensa1.jpeg" alt="imagen novedad1")
                .novedad-contenido.comlumn-50
                    .novedad-contenido-encabezado
                        img(src="img/admin.png" alt="admin")
                        .novedad-publicacion
                            p Admin
                            p 11 de nov. de 2019 - 2min.
                    .novedad-contenido-contenido
                        a(href="#") Encuentros modernos
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos facere perferendis quibusdam dolores, obcaecati provident vero rerum quia beatae? Sit magnam quae, error iste doloribus corporis! In reiciendis laudantium maxime. Dignissimos facere perferendis quibusdam dolores, obcaecati provident vero rerum quia beatae? Sit magnam quae, error iste doloribus corporis! In reiciendis laudantium maxime.
                        p.item-comentario &#128065; 6                          
                            a(href="#") Escribir un comentario
                            spam(style="color: red;") &#127892;
            
            .novedad.container-flex#novedad2                
                .novedad-imagen.comlumn-50
                    img(src="img/prensa2.jpeg" alt="imagen novedad1")
                .novedad-contenido.comlumn-50
                    .novedad-contenido-encabezado
                        img(src="img/admin.png" alt="admin")
                        .novedad-publicacion
                            p Admin
                            p 11 de nov. de 2019 - 2min.
                    .novedad-contenido-contenido
                        a(href="#") Banlance Mensual
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos facere perferendis quibusdam dolores, obcaecati provident vero rerum quia beatae? Sit magnam quae, error iste doloribus corporis! In reiciendis laudantium maxime. Dignissimos facere perferendis quibusdam dolores, obcaecati provident vero rerum quia beatae? Sit magnam quae, error iste doloribus corporis! In reiciendis laudantium maxime.
                        p.item-comentario &#128065; 6                          
                            a(href="#") Escribir un comentario
                            spam(style="color: red;") &#127892;
            
            .novedad.container-flex#novedad3               
                .novedad-imagen.comlumn-50
                    img(src="img/prensa3.jpeg" alt="imagen novedad1")
                .novedad-contenido.comlumn-50
                    .novedad-contenido-encabezado
                        img(src="img/admin.png" alt="admin")
                        .novedad-publicacion
                            p Admin
                            p 11 de nov. de 2019 - 2min.
                    .novedad-contenido-contenido
                        a(href="#") Análisis del Primer Trimestre
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos facere perferendis quibusdam dolores, obcaecati provident vero rerum quia beatae? Sit magnam quae, error iste doloribus corporis! In reiciendis laudantium maxime. Dignissimos facere perferendis quibusdam dolores, obcaecati provident vero rerum quia beatae? Sit magnam quae, error iste doloribus corporis! In reiciendis laudantium maxime.
                        p.item-comentario &#128065; 6                          
                            a(href="#") Escribir un comentario
                            spam(style="color: red;") &#127892;
            
            .novedad.container-flex#novedad4                
                .novedad-imagen.comlumn-50
                    img(src="img/prensa4.jpeg" alt="imagen novedad1")
                .novedad-contenido.comlumn-50
                    .novedad-contenido-encabezado
                        img(src="img/admin.png" alt="admin")
                        .novedad-publicacion
                            p Admin
                            p 11 de nov. de 2019 - 2min.
                    .novedad-contenido-contenido
                        a(href="#") Encuentros modernos
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos facere perferendis quibusdam dolores, obcaecati provident vero rerum quia beatae? Sit magnam quae, error iste doloribus corporis! In reiciendis laudantium maxime. Dignissimos facere perferendis quibusdam dolores, obcaecati provident vero rerum quia beatae? Sit magnam quae, error iste doloribus corporis! In reiciendis laudantium maxime.
                        p.item-comentario &#128065; 6                          
                            a(href="#") Escribir un comentario
                            spam(style="color: red;") &#127892;
            
            .novedad.container-flex#novedad5               
                .novedad-imagen.comlumn-50
                    img(src="img/prensa5.jpg" alt="imagen novedad1")
                .novedad-contenido.comlumn-50
                    .novedad-contenido-encabezado
                        img(src="img/admin.png" alt="admin")
                        .novedad-publicacion
                            p Admin
                            p 11 de nov. de 2019 - 2min.
                    .novedad-contenido-contenido
                        a(href="#") Encuentros modernos
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos facere perferendis quibusdam dolores, obcaecati provident vero rerum quia beatae? Sit magnam quae, error iste doloribus corporis! In reiciendis laudantium maxime. Dignissimos facere perferendis quibusdam dolores, obcaecati provident vero rerum quia beatae? Sit magnam quae, error iste doloribus corporis! In reiciendis laudantium maxime.
                        p.item-comentario &#128065; 6                          
                            a(href="#") Escribir un comentario
                            spam(style="color: red;") &#127892;
            
            .novedad.container-flex#novedad6                
                .novedad-imagen.comlumn-50
                    img(src="img/prensa6.jpeg" alt="imagen novedad1")
                .novedad-contenido.comlumn-50
                    .novedad-contenido-encabezado
                        img(src="img/admin.png" alt="admin")
                        .novedad-publicacion
                            p Admin
                            p 11 de nov. de 2019 - 2min.
                    .novedad-contenido-contenido
                        a(href="#") Encuentros modernos
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos facere perferendis quibusdam dolores, obcaecati provident vero rerum quia beatae? Sit magnam quae, error iste doloribus corporis! In reiciendis laudantium maxime. Dignissimos facere perferendis quibusdam dolores, obcaecati provident vero rerum quia beatae? Sit magnam quae, error iste doloribus corporis! In reiciendis laudantium maxime.
                        p.item-comentario &#128065; 6                          
                            a(href="#") Escribir un comentario
                            spam(style="color: red;") &#127892;
            
        
