extends ../template/template.pug

block append config 
    -title_page="Novedades";
    -pagina_actual="novedades";
    
block append bannerSecundario
    .container.container-flex
        h1.nosotros-titulo NOVEDADES
        
