extends ../template/template.pug

block append config 
    -title_page="Servicio";
    -pagina_actual="servicios";
    
block append bannerSecundario
    .container.container-flex
        h1.nosotros-titulo SERVICIOS
        
block contenido
    .container.container-flex
        .serviciosT
            .servicios1
                img(src="img/ahorro.webp")
                p Ahorros
            p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos facere perferendis quibusdam dolores, obcaecati provident vero rerum quia beatae? Sit magnam quae, error iste doloribus corporis! In reiciendis laudantium maxime.
        .serviciosT
            .servicios1
                img(src="img/noticia.webp")
                p Ahorros
            p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos facere perferendis quibusdam dolores, obcaecati provident vero rerum quia beatae? Sit magnam quae, error iste doloribus corporis! In reiciendis laudantium maxime.
        .serviciosT
            .servicios1
                img(src="img/inversion.webp")
                p Ahorros
            p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos facere perferendis quibusdam dolores, obcaecati provident vero rerum quia beatae? Sit magnam quae, error iste doloribus corporis! In reiciendis laudantium maxime.
        .serviciosT
            .servicios1
                img(src="img/planificacion.webp")
                p Ahorros
            p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos facere perferendis quibusdam dolores, obcaecati provident vero rerum quia beatae? Sit magnam quae, error iste doloribus corporis! In reiciendis laudantium maxime.
        .serviciosT
            .servicios1
                img(src="img/tarjeta.webp")
                p Ahorros
            p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos facere perferendis quibusdam dolores, obcaecati provident vero rerum quia beatae? Sit magnam quae, error iste doloribus corporis! In reiciendis laudantium maxime.
        .serviciosT
            .servicios1
                img(src="img/intereses.webp")
                p Ahorros
            p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos facere perferendis quibusdam dolores, obcaecati provident vero rerum quia beatae? Sit magnam quae, error iste doloribus corporis! In reiciendis laudantium maxime.