-let title_page = "Inicio";
-let page = "GrupoAxis";

//- css´s
-let css=['estilos.css','fontello.css'];

//- paginas
-let paginas = ['Inicio','Nosotros','Servicios','Novedades','Contacto'];
-let pagina_actual="";

//- clientes
-let clientes = ['Vida Mas','EnGloba','DeVital','SiempreMas','ConfiaTU'];