.banner
    .container
        .banner-title
            h1 El Grupo Axis
        .banner-subtitle
            h4 Consultores financieros. Confía en profesionales.
        .banner-btn
            a(href="#ini-servicios") Comenzar