section.contactenos
    .container
        .contactenos-contenido
            h2 ¿Más información? Contáctanos
            p Estamos a su servicio. Contáctanos por celular o mediante nuestras redes sociales.
        .contactenos-btn
            a(href="contacto.html") Contactar